.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adds space between the buttons */
}
button {
    padding: 10px 20px;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    width: 120px;
    height: 135px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: black;
    border: solid #E4E4E7;
    border-width: 1px;
}
button:hover {
    background-color: #FBFBFB;
}